@import '/src/styles/variables.scss';

textarea {
    width: 100%;
    overflow: hidden;
    padding: 12px 12px 12px;
    border: 2px solid $secondary-color;
    border-radius: 5px;
    font-family: inherit;
    outline: none;
    resize: none;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;

    &:focus {
        border: 2px solid $primary-color;
    }
}