
$primary-color: #b091fb;
$secondary-color: #bebebe;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #fff;
$dark-color: #343a40;

$primary-color-hover: #a28ae0;

$text-primary-color: #333;
$text-secondary-color: #919191;