@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
@import '/src/styles/variables.scss';

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 600;
  color: $text-primary-color;
  margin: 0;
}

span {
  color: $text-secondary-color;
  font-size: 16px;
}

a {
    color: $primary-color;
    text-decoration: none;
    font-weight: 500;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
